<!DOCTYPE html>
<html lang="kr">
<head>{{> /include/header}}

</head>
<body>
	{{> /include/navigation}}
	<div class="container" id="main">
		<div class="col-md-12 col-sm-12 col-lg-12">
			{{#question}}
			<div class="panel panel-default">
				<header class="qna-header">
					<h2 class="qna-title">{{title}}</h2>
				</header>
				<div class="content-main">
					<article class="article">
						<div class="article-header">
							<div class="article-header-thumb">
								<img
									src="https://phinf.pstatic.net/contact/20161023_243/1477203314684NIixm_JPEG/KakaoTalk_20160408_181707096.jpg?type=s160"
									class="article-author-thumb" alt="">
							</div>
							<div class="article-header-text">
								<a href="#" class="article-author-name">{{writer.name}}</a> <a href="#"
									class="article-header-time" title="글 작성 시간">{{FormattedCreateDate}}<i
									class="icon-link"></i>
								</a>
							</div>
						</div>
						<div class="article-doc">
							<p>{{contents}}</p>
						</div>

						<div class="article-util">
							<ul class="article-util-list">
								<!--  TODO 이부분 나중에 로그인한 회원 유저일때만 true로 수정 현제는 로그인만하면 바로 보임 -->
								<!-- {{#sessionedUser}} -->
								<!-- {{/sessionedUser}} -->
								<li>
									<a class="link-modify-article" href="/questions/{{id}}/update">수정</a>
								</li>
								<li>
									<form class="form-delete" action="/questions/{{id}}/delete" method="get">
										<button class="link-delete-article" type="submit">삭제</button>
									</form>
								</li>
								<li>
									<a class="link-modify-article" href="/">목록</a>
								</li>
							</ul>
						</div>
					</article>


					<div class="qna-comment">
						<div class="qna-comment-slipp">
							<p class="qna-comment-count">
								<strong>#</strong>개의 의견
							</p>
							<div class="qna-comment-slipp-articles">
								{{#answers}}
								<article class="article" id="answer-1405">
									<div class="article-header">
										<div class="article-header-thumb">
											<img
												src="https://phinf.pstatic.net/contact/20161023_243/1477203314684NIixm_JPEG/KakaoTalk_20160408_181707096.jpg?type=s160"
												class="article-author-thumb" alt="">
										</div>
										<div class="article-header-text">
											<a href="#" class="article-author-name">{{writer.name}}</a> <a href="#"
												class="article-header-time" title="글 작성 시간">{{FormattedCreateDate}}</a>
										</div>
									</div>
									<div class="article-doc comment-doc">
										<p>{{contents}}</p>
									</div>
									<!--  TODO 이부분 나중에 로그인한 회원 유저일때만 true로 수정 현제는 로그인만하면 바로 보임 -->
									{{#sessionedUser}}
									<div class="article-util">
										<ul class="article-util-list">
											<li>
												<a class="link-modify-article" href="#">수정</a>
											</li>
											<li>
												<form class="form-delete" action="#" method="POST">
													<input type="hidden" name="_method" value="DELETE">
													<button type="submit" class="link-delete-article">삭제</button>
												</form>
											</li>
										</ul>
									</div>
									{{/sessionedUser}}
								</article>
								{{/answers}}
								<form class="answer-write" method="post" action="/api/qustions/{{id}}/answers/create">
									<div class="form-group" style="padding: 14px;">
										<textarea class="form-control" placeholder="답변..." name="contents"></textarea>
									</div>
									<input type="submit" class="btn btn-success pull-right" value="답변하기" />
									<div class="clearfix" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/question}}
		</div>
	</div>
	<script type="text/template" id="answerTemplate">
	<article class="article">
		<div class="article-header">
			<div class="article-header-thumb">
				<img src="https://phinf.pstatic.net/contact/20161023_243/1477203314684NIixm_JPEG/KakaoTalk_20160408_181707096.jpg?type=s160" class="article-author-thumb" alt="">
			</div>
			<div class="article-header-text">
				{0}
				<div class="article-header-time">{1}</div>
			</div>
		</div>
		<div class="article-doc comment-doc">
			{2}
		</div>
		<div class="article-util">
		<ul class="article-util-list">
			<li>
				<a class="link-modify-article" href="#">수정</a>
			</li>
			<li>
				<form class="form-delete" action="/api/qna/deleteAnswer" method="POST">
					<input type="hidden" name="answerId" value="{4}" />
					<button type="submit" class="link-delete-article">삭제</button>
				</form>
			</li>
		</ul>
		</div>
	</article>
	</script>

	{{> /include/footer}}

</body>
</html>
